createdAt: "2019-02-20T07:09:18.631Z"
updatedAt: "2019-02-20T07:09:46.548Z"
type: "MARKDOWN_NOTE"
folder: "1657339d11d28445c69b"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
